.service-wrapper {
  position: relative;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  user-select: none;

  .service {
    position: relative;
    height: 390px;
    width: 360px;
    padding: 30px;
    overflow: hidden;

    h1 {
      margin-top: 50px;
      font-family: "Philosopher";
      font-weight: 700;
      font-size: 25px;
      color: #49362b;
    }

    p {
      margin-top: 20px;
      font-family: "Montserrat";
      font-weight: 400;
      font-size: 16px;

      overflow: hidden;
      text-overflow: ellipsis;
      text-align: center;
      color: #af9b8f;
    }

    &:after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 60px;
      background: linear-gradient(180deg, transparent, #fff 50%);
    }
  }

  img {
    position: absolute;
    top: -25%;
    right: 25%;
  }

  button {
    position: absolute;
    padding: 15px;
    font-weight: 600;
    color: white;
    background: #3c725a;
    border: none;
    border-radius: 20px;
    width: 200px;
    cursor: pointer;
    bottom: -20px;
    left: 25%;
    z-index: 1;

    &:hover {
      background: #376952;
    }

    &:active {
      background: #33614b;
    }
  }

  &:hover {
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.06);
    transform: translateY(3px);
  }
}
