.header {
  padding: 40px 0px;
  position: fixed;
  background-color: white;
  width: 100vw;

  ul {
    display: flex;
    padding-left: 125px;
    li {
      color: #49362b;
      margin-right: 20px;
      cursor: pointer;
      border-bottom: 0px;

      &:hover {
        border-bottom: 1px solid #49362b;
      }
    }
  }
}
