.header {
  padding-top: 40px;
  position: fixed;
  background-color: white;

  ul {
    display: flex;
    padding-left: 150px;
    li {
      color: #49362b;
      margin-right: 20px;
      cursor: pointer;
      border-bottom: 0px;

      &:hover {
        border-bottom: 1px solid #49362b;
      }
    }
  }
}
